.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.to-center {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center; }

.special-css-button {
  min-width: 200px; }

.modal-style {
  background-color: grey; }

.text-area-height {
  min-height: 250px; }
